<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="css/style.css" rel="stylesheet">
</head>
	<form id="frmParams" th:fragment="params" th:action="${action}">
		<div th:replace="fragments/fractal2D-params.html :: params"></div>
		<p>Satellites: <input type="text" class="input-text" name="satellites" th:value="${satellites}"> per iteration</p>
		<p>Scaling Factor: <input type="text" class="input-text" name="factor" th:value="${factor}"></p>
		<p><input type="submit" class="submit" value="Generate"></p>
	</form>
</html>