<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title th:text=${title}></title>
	<link href="css/style.css" rel="stylesheet">
</head>
<body th:fragment="mainPage(page, fragment)">
	<div class="column-left">
		<h3>Parameters</h3>
		<div th:replace="${params_page} :: ${params_fragment}"></div>
	</div>
	
	<div class="column-center">
		<h2 th:text=${title}></h2>
		<img th:src="${imagePath}"/><br>
		<small th:text="${loadingMessage}"></small>
	</div>
	
</body>

<div th:replace="fragments/_footer.html :: footer"></div>
</html>