<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Fractals</title>
</head>
<body>
	<h1>Fractals</h1>
	<p>Welcome! Fractals is a web tool for generating fractals via recursion for a set amount of iterations.</p>
	<p>View and play around with a fractal tree <a href="/fractal-tree">here</a>!</p>
	<img th:src="@{images/example-fractal-tree.png}"/>
	<br>
	<small>
		Fractals is a creation of 
		<a href="https://github.com/smwolfskill">Scott Wolfskill</a>
		and is run on Spring Framework in Java.
	</small>
</body>
</html>