<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Fractals</title>
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
	<div class="center-text-full">
	<h1>Fractals</h1>
	<p>Welcome! Fractals is a web tool for generating fractals via recursion for a set amount of iterations.</p>
	<ul>
		<li>Play around with a <a href="/fractal-tree">Fractal Tree</a></li>
		<li>Try out <a href="/fractal-circle">Fractal Circles</a></li>
		<li>Create a <a href="/fractal-flower">Fractal Flower</a></li>
	</ul>
	</div>
	<img th:src="@{examples/example-fractal-tree.png}" class="center-image"/>
	<div class="center-text-full">
		<p> Fractals is open-source on GitHub, available 
			<a href="https://github.com/smwolfskill/Fractals">here</a>.
	</div>
</body>

<div th:replace="fragments/_footer.html :: footer"></div>

</html>